# Compiled class files
target/
*.class

# Log files
*.log
logs/

# IDE
.idea/
*.iml
.vscode/

# Maven
.mvn/
mvnw
mvnw.cmd

# OS
.DS_Store
Thumbs.db

# Application
application-local.yml
.env
.env.local

# Uploads
uploads/**

!uploads/avatar/
!uploads/avatar/avatar.jpg

!uploads/banner/
!uploads/banner/default.jpg

!uploads/guide/
!uploads/guide/default.jpg

!uploads/icons/
!uploads/icons/default.png

!uploads/spot/
!uploads/spot/default/
!uploads/spot/default/cover/
!uploads/spot/default/cover/default.jpg
!uploads/spot/default/gallery/
!uploads/spot/default/gallery/default.jpg
